<h1>
  {{title}}
</h1>
<div class="container">
  <div class="child">
    <mr-space [x]="posX" [y]="posY" [direction]="direction"></mr-space>
  </div>
  <div class="child width-30">
    <mr-station (errorLog)="log($event)" (updateRobot)="updateRobot($event)"></mr-station>
  </div>
  <div class="child width-30">
    <h3>
      Help:
    </h3>
    <div>Place: Place X,Y,Direction (North, South, East or West)</div>
    <div>Move Robot: MOVE/Move/move</div>
    <div>Rotate Left: LEFT/Left</div>
    <div>Rotate Right: RIGHT/Right</div>
    <div>Report: Report/report/REPORT</div>
  </div>
</div>
<div *ngIf="error" class="error-container">
  {{error}}
</div>